@import "../components/mixins";
@import "../components/variable";

.footer {
  background-color: #363636;

  &-heading-title {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 500;
  }

  &-nav {
    background-color: #2a2a2a;
  }
  &-copyright {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 400;
  }
}