.navbar-top {
  background-color: #434343;
}

.nav-top-item {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.nav-top-link, .nav-currency, .nav-language {
  font-size: 13px;
  font-weight: 500;
}

.nav-top-link:hover::after {
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  content: '';
  width: 70%;
  transform: translate(-50%);
  border-bottom: 1px solid #fff;
}

.modal-content-custom {
  max-width: 456px;
  padding: 0 30px;
  border-radius: 0;
  box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
}

.modal-heading-title {
  color: #2a2a2a;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.close-modal {
  top: 0;
  right: 0;
  background-color: #2a2a2a !important;
  padding: 11px 16px !important;
  opacity: 1;
  font-size: 14px;
  color: #fff;
}

.close-modal:hover {
  background: #2a2a2a !important;
  color: #ffffff;
  opacity: .1;
}

.form-control-custom {
  height: calc(2.5em + 1rem + 2px);
  border-radius: 0;
  color: #676767;
  font-size: 14px;
  font-weight: 400;
}

.form-control-custom:focus {
  border: 1px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.20)
}

.btn-login {
  padding: 10px 36px;
  background-color: #2a2a2a;
  font-size: 14px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(1, 2, 2, 0.2);
}

.btn-login:hover, .btn-login:focus, .btn-login:active {
  background: transparent;
  border-color: #2a2a2a;
  color: #2a2a2a;
  outline: none;
}