.go-top {
    position: fixed;
    bottom: 11vh;
    right: -8.5rem;
    width: max-content;
    background-color: rgba(225, 225, 225, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: $bg-dark;
    transition: all 100ms;
    z-index: 1000;
}

.go-top > * {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.go-top.active {
    right: 10px;
}

.go-top:hover {
    cursor: pointer;
    color: $logo-color;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(225, 225, 225, 0.5);
    text-decoration: none;
}

button:focus, button:active,
input:focus, input:active {
    outline: none !important;
    //box-shadow: none !important;
}

.top-menu {
    //color: $bg-dark;
    z-index: 5;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}

.right {
    right: 0;
}

.top {
    top: 0;
}

.toggler-width {
    width: $toggler-width;
}

.form-custom-size {
    width: $navbar-search-width !important;
}

.toggler-height {
    height: $toggler-height;
}

.navbar-toggler {
    outline: none;
}

.font-size-small {
    font-size: 0.8rem;
}

.font-size-normal {
    font-size: 1rem;
}

.font-size-large {
    font-size: 2rem;
}

.top-menu .nav-item {
    border-top: 4px solid transparent;
}

.top-menu .nav-item.active,
.top-menu .nav-item:hover {
    background-color: $logo-color;
    border-top: 4px solid #2a2a2a;
}

.top-menu .active .nav-link,
.top-menu .nav-link:hover {
    color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
    .font-size-normal {
        font-size: .8rem;
    }
}

@media (max-width: 767.98px) {
    .go-top {
        display: none;
    }

    .bubble {
        z-index: 10;
    }

    .top-menu .navbar-collapse {
        position: relative;
        height: auto !important;
    }

    .top-menu .navbar-nav {
        //margin-left: -70px;
        background-color: $bg-dark;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .top-menu .nav-item {
        background-color: $bg-dark;
        border-top: 0 solid #2a2a2a;
        border-bottom: 1px solid transparent;
        font-size: 0.8rem;

        margin-left: 70px;
        margin-right: 10px;
    }

    .top-menu .nav-link {
        color: #a0a0a0;
        border-bottom: 1px solid transparent;

    }

    .top-menu .nav-item.active,
    .top-menu .nav-item:hover {
        background-color: $bg-dark;
        border-top: 0 solid #2a2a2a;
        border-bottom: 1px solid #a0a0a0;
    }

    .top-menu .active .nav-link,
    .top-menu .nav-link:hover {
        color: white;
        border-bottom: 1px solid #a0a0a0;
    }

    .nav-container {
        //position: absolute;
    }

    .btn-container {
        height: 100%;
    }
}

@media (max-width: 520px) {
    .top-menu .nav-item {
        margin-left: 40px;
    }

    .btn-container {
        //margin-left: 40px;
    }
}

@media (min-width: 576px) {
    //.container {
    //    max-width: 540px;
    //}
}

@media (max-width: 480px) {

    .form-custom-size {
        width: 100% !important;
    }

    .form-custom-position {
        //padding-bottom: 4rem!important;
        //margin-right: 1rem;
        width: 100%;
    }

    .top-menu .nav-item {
        margin-left: 100px;
    }

    .btn-container {
        margin-left: 0;
        //margin-top: 5rem;
        //margin-bottom: 5rem;
        height: auto;
    }

    .top-menu .navbar-toggler {
        //padding: 0!important;
        //margin: 0!important;
        //margin-right: 10px!important;
        //margin-top: 10px!important;
        //top: -3rem;
    }

    .top-menu .nav-container {
        //position: static!important;
        width: 80%;
        transform: translateY(55%);
    }

    .top-menu .nav-link {
        font-size: 1.5rem;
    }

    .top-menu .container {
        //margin-bottom: 50px;
    }

    .top-menu .navbar-nav {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}