@import "variable";

@mixin flexCenter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

@mixin InlineFlexCenter {
    display: inline-flex;
    align-items: center;
}

@mixin flexAlign {
    display: flex;
    align-items: center;
}

@mixin flexColumnCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
