$logo-color: #d58e32;
$bg-dark: #363636;
$toggler-width: 30px;
$toggler-height: 3px;
$navbar-search-width: 320px;
$navbar-search-height: 47px;

$primary-color: #2a2a2a;
$secondary-color: #d58e32;
$footer-link: #a9a9a9;

