.furniture-title {
  font-size: 22px;
}

.furniture-card {
  border: none;
  background-color: #f4f5f7;
  border-radius: 0;
  overflow: hidden;

  &-img {
    height: 260px;
  }

  &-body {
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
  }

  &-line {
    position: relative;
  }

  &-line::before {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 35px;
    height: 5px;
    background-color: #d58e32;
  }

  &-price {
    background-color: #2a2a2a;
    padding: 6px 10px;
  }

  &-hover-btn {
    background-color: #2a2a2a;
    padding: 9px 6px;
    bottom: 0;
    font-size: 14px;
  }

  &-sale {
    font-size: 14px;
    background-color: #2a2a2a;
    left: 0;
    right: 0;
    top: -25px;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    //border-radius: 50%;
    //padding: 10px;
    padding: 25px 10px 5px 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

  }

  &-hover-show {
    display: none;
  }
}

.quick-view {
  left: 8px;
}

.add-to-cart {
  right: 8px;
}

.basket-icon {
  font-size: 14px;
}

.furniture-card:hover .furniture-card-price {
  background-color: #d58e32;
}

.furniture-card:hover .furniture-card-hover-show {
  display: block;
}

.furniture-card:hover .furniture-card-title {
  color: #d58e32;
}