@media only screen and (max-width: 480px) {
  .mobile-hidden-sale {
    display: none;
  }
  .office-chair{
    height: 140px;
    &-content{
    }
    &-title
    {
      font-size: 1.7rem;
    }
    &-text {
      font-size: 1rem;
    }
    &-price {
      font-size: 2rem;
    }
    &-img1 {
      width: 150px;
      height: 200px;
      top: -8px;
      left: -20px;
    }
    &-img2 {
      width: 130px;
      height: 150px;
      top: 0;
      right: -40px;
    }
  }

  @media only screen and (max-width: 400px) {
    .office-chair {
      &-img2 {
        display: none;
      }
      &-content {
        padding-right: 2%;
      }
    }
  }


  .special-collection {
    height: 140px;
    &-img {
      width: 250px;
      height: 170px;
    }
    &-title {
      font-size: 1.2rem;
    }
  }
}