
button.close {
    background-color: $bg-dark;
    opacity: 1;
}

button.close:hover {
    background-color: $logo-color;
    opacity: 1;
}

.basket .fa-times {
    color: white;
}

.modal-empty-heading {
    /* Style for "Your cart..." */
    color: #939393;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 41px;
}

.modal-empty-description {
    /* Style for "But it's n..." */
    color: #939393;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 52.71px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .modal-empty-heading {
        font-size: 33px;
    }

    .modal-empty-description {
        font-size: 20px;
    }
}