@media only screen and (max-width: 350px) {
  .img-big {
    margin: 0 auto;
    height: 370px;
    width: 100%;
    max-width: 300px;
  }

  .slider-wrapper-control {
    width: 74%;
  }

  .btn-control {
    width: 30px;
  }
  .btn-control-prev {
    left: -33px;
  }
  .btn-control-next {
    right: -33px;
  }
  .status-wrapper {
    padding: 20px;
    width: 200px;
    max-width: 200px;
  }
  .price-wrapper {
    width: 80px;
    height: 80px;
  }
  .new-price {
    font-size: 16px;
  }
  .old-price {
    font-size: 14px;
    margin-bottom: 0;
  }
  .btn-add-cart, .btn-compare, .btn-viewed, .btn-wishlist {
    background-color: #f5f6f7;
  }
}