<div class="slider-wrapper slider-for">
    <div class="slide">
        <div class="dp-flex flex-direction-column ml-2">
            <img src="dist/image/products/top-seller/10.png" class="img-big position-relative">
            <div class="action-wrapper d-flex flex-column align-items-start">
                <a href="#" class="btn btn-wishlist mb-2"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2"><i class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart"><i class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/11.png" class="img-big">
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/12.png" class="img-big">
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/13.png" class="img-big">
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/14.png" class="img-big">
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/15.png" class="img-big">
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/16.png" class="img-big">
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/17.png" class="img-big">
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/18.png" class="img-big">
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/19.png" class="img-big">
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/20.png" class="img-big">
        </div>
    </div>
</div>
<div class="bg-white py-3">
<div class="slider-wrapper-control">
    <div class="slider-nav">
        <div class="slider-mini-image-wrapper">
            <img src="dist/image/products/top-seller/10.png" class="slider-avatar-mini-img" alt="daenerys">
        </div>
        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/11.png" class="slider-avatar-mini-img"
                 alt="avatar_1">
        </div>
        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/12.png" class="slider-avatar-mini-img" alt="avatar_1">
        </div>

        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/13.png" class="slider-avatar-mini-img" alt="avatar_1">
        </div>

        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/14.png" class="slider-avatar-mini-img"
                 alt="avatar_1">
        </div>
        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/15.png" class="slider-avatar-mini-img"
                 alt="avatar_1">
        </div>
        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/16.png" class="slider-avatar-mini-img"
                 alt="avatar_1">
        </div>
        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/17.png" class="slider-avatar-mini-img"
                 alt="avatar_1">
        </div>
        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/18.png" class="slider-avatar-mini-img"
                 alt="avatar_1">
        </div>
        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/19.png" class="slider-avatar-mini-img"
                 alt="avatar_1">
        </div>
        <div class="slider-mini-image-wrapper mx-3">
            <img src="dist/image/products/top-seller/20.png" class="slider-avatar-mini-img"
                 alt="avatar_1">
        </div>
    </div>
</div>
</div>