<div class="slider-wrapper slider-for">
    <div class="slide">
        <div class="dp-flex flex-direction-column ml-2">
            <img src="dist/image/products/top-seller/10.png" class="img-big position-relative" alt="product-10">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div>
            <img src="dist/image/products/top-seller/11.png" class="img-big" alt="product-11">
            <div class="action-wrapper d-flex flex-column ml-2">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div>
            <img src="dist/image/products/top-seller/12.png" class="img-big" alt="product-12">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div>
            <img src="dist/image/products/top-seller/13.png" class="img-big" alt="product-13">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/14.png" class="img-big" alt="product-14">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/15.png" class="img-big" alt="product-15">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/16.png" class="img-big" alt="product-16">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/17.png" class="img-big" alt="product-17">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/18.png" class="img-big" alt="product-18">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/19.png" class="img-big" alt="product-19">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="dp-flex flex-direction-column">
            <img src="dist/image/products/top-seller/20.png" class="img-big" alt="product-20">
            <div class="action-wrapper d-flex flex-column">
                <a href="#" class="btn btn-wishlist mb-2" data-toggle="tooltip" data-placement="right"
                   title="Add to wishlist"><i class="far fa-heart"></i></a>
                <a href="#" class="btn btn-viewed mb-2" data-toggle="tooltip" data-placement="right" title="Quick view"><i
                        class="far fa-eye"></i></a>
                <a href="#" class="btn btn-add-cart" data-toggle="tooltip" data-placement="right" title="Add to cart"><i
                        class="fa fa-shopping-basket"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="bg-white py-3">
    <div class="slider-wrapper-control">
        <div class="slider-nav">
            <div class="slider-mini-image-wrapper">
                <img src="dist/image/products/top-seller/10.png" class="slider-avatar-mini-img" alt="product-thumb_1">
            </div>
            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/11.png" class="slider-avatar-mini-img" alt="product-thumb_2">
            </div>
            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/12.png" class="slider-avatar-mini-img" alt="product-thumb_3">
            </div>

            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/13.png" class="slider-avatar-mini-img" alt="product-thumb_4">
            </div>

            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/14.png" class="slider-avatar-mini-img" alt="product-thumb_5">
            </div>
            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/15.png" class="slider-avatar-mini-img" alt="product-thumb_6">
            </div>
            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/16.png" class="slider-avatar-mini-img" alt="product-thumb_7">
            </div>
            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/17.png" class="slider-avatar-mini-img" alt="product-thumb_8">
            </div>
            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/18.png" class="slider-avatar-mini-img" alt="product-thumb_9">
            </div>
            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/19.png" class="slider-avatar-mini-img" alt="product-thumb_10">
            </div>
            <div class="slider-mini-image-wrapper mx-3">
                <img src="dist/image/products/top-seller/20.png" class="slider-avatar-mini-img" alt="product-thumb_11">
            </div>
        </div>
    </div>
</div>