@import "owl.carousel.min";
@import "owl.theme.default.min";


.owl-dots {
  position: absolute;
  top: -54px;
  right: 0;
  padding-left: 14px;
  background-color: #ffffff;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px !important;
  height: 12px !important;
  background-color: #e2e2e2;
  transition: .3s;
}

.owl-theme .owl-dots .owl-dot:last-child span {
  margin-right: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  width: 12px;
  height: 12px;
  background-color: #d58e32 !important;
}
