@import "../mixins";

.btn-wishlist, .btn-add-cart, .btn-viewed, .btn-compare {
  padding: 5px 9px;
  border: 1px solid $primary-color;
  border-radius: 0;
  color: $primary-color;
  font-size: 16px;

  &:hover {
    border: 1px solid $secondary-color;
    color: $secondary-color;
  }
}

.btn-wishlist {
  padding: 5px 10px;
}

.btn-add-cart .fa-shopping-basket {
  padding: 0;
  font-size: 16px;
}