@import "slick";
@import "slick-theme";

.slider-mini-image-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 70px !important;
  height: 70px;
  background: #ddd;
  cursor: pointer;
  opacity: .6;
  transition: .3s;

  &:hover {
    opacity: 1;
  }
}

.slider-avatar-mini-img {
  width: 50px;
  height: 50px;
}

.img-big {
  margin: 0 auto;
  height: 415px;
}

.slider-wrapper-control {
  position: relative;
  max-width: 85%;
  margin: 0 auto;
}

.btn-control {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 70px;
  background-color: #2a2a2a;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: #ca9482;
  }
}

.action-wrapper {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.btn-control-prev {
  left: -41px;
}

.btn-control-prev .prev, .btn-control-next .next {
  color: #ffffff;
}

.btn-control-next {
  right: -42px;
}

@import "../btn-action/btn-action";